<mat-toolbar color="primary">
    <img src="assets/images/kikblack2.png" class="img">
    <span>Anarkika</span>
    <span class="spacer"></span>
    <a mat-button routerLink="/home">
        <mat-icon color="accent">home</mat-icon>
    </a>
    <mat-divider  [vertical]="true" class="divider"></mat-divider>
    <a mat-button routerLink="/zero">
        <mat-icon color="accent">person_outline</mat-icon><span>PJs</span>
    </a>
    <mat-divider  [vertical]="true" class="divider"></mat-divider>
    <a mat-button routerLink=".">
        <mat-icon color="accent">map</mat-icon><span>PARs</span>
    </a>
    <mat-divider  [vertical]="true" class="divider"></mat-divider>
    <a mat-button routerLink=".">
        <mat-icon color="accent">account_circle</mat-icon><span>PARs</span>
    </a>
</mat-toolbar>
<router-outlet></router-outlet>